.slick-initialized{
  margin: 30px auto;
  width: 1000px;
}
.ant-carousel .slick-slide {
    margin-top: 50px;
    text-align: center;
    width: 400px;
    height: 400px;
    line-height: 400px;
    background: #364d79;
    overflow: hidden;
  }

  .slick-current{
    
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }


  .tab-cute{
    
  }