.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#Homemenu{
  background-color: black;
  color: white;
  height: 50px;
  overflow: hidden;
  z-index: 20;
}

#Homemenu>div{
  z-index: 20;
}


.homemenuul{
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.homemenuul:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.homemenu-logo{
  margin-top: 7px;
  margin-left: 10px;
  width: 40px;
  height: 35px;
}

.ico{
  width: 30px;
  height: 30px;
}

.btn-default1{
  float: right;
  height: 50px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 13px;
  color:white;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-default1:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#Homelist{
  background-color: blue
}

* {margin:0;padding:0;}
#mobile-menu {position:fixed;top:0;left:0;width:220px;height:100%;background-color:#373737;z-index:10;}
a:hover ,a:focus{text-decoration:none}
.mobile-nav ul li a {color:gray;display:block;padding:1em 5%;    border-top:1px solid #4f4f4f;border-bottom:1px solid #292929;transition:all 0.2s ease-out;cursor:pointer;#mobile-menu {position:fixed;top:0;left:0;width:220px;height:100%;background-color:#373737;z-index:10;transition:all 0.3s ease-in;}}
.mobile-nav ul li a:hover {background-color: #23A1F6;color: #ffffff;}
.show-nav {transform:translateX(0);}
.hide-nav {transform:translateX(-220px);} /*侧滑关键*/
.mobile-nav-taggle {height:35px;line-height:35px;width:35px;background-color:#23A1F6;color:#ffffff;display:inline-block;text-align:center;cursor:pointer}
.nav.avbar-inverse{position:relative;}
.nav-btn {position:absolute;right:20px;top:20px;}
